<div *ngIf="video | async as video" class="video-container">
<h2>{{video.title}}</h2>
<p>Chaine : {{video.channelName}}</p>
<p>{{video.url}}</p>
<img src="{{video.imgSrc}}">
<p>LIkes : {{video.likes}}</p>
@if(video.comments.length != 0){
    <hr>
    <ul *ngFor="let comment of video.comments">
        <li>Commentaire : {{comment.content}}</li>
        <li>De : {{comment.author}}</li>
    </ul>
}@else{
<p>Aucun commentaire ici !</p>
}
<p> nombres de vues : {{video.nbViews}}</p>
<p>Date d'upload : {{video.uploadDate}}</p>
<p>categories :</p>
<ul *ngFor="let categorie of video.categories">
    <p>{{categorie}}</p>
</ul>
</div>
